<h1>投稿の確認</h1>
<%= notice %><%= alert %>

<%= form_with(model: @feed, url: feeds_path, local: true) do |form| %>
<p>コメント:<%= @feed.content %></p>
<%= image_tag(@feed.image.url) if @feed.image && @feed.image.url %>
<%= form.hidden_field :image_cache %>
<%=form.hidden_field :content %>
<br>
<button type="button" name="button">
  <%= form.submit "投稿する" %>
</button>
<button type="button" name="button">
  <%= form.submit "戻る", name: "back" %>
</button>
<% end %>
