<div class="feeds_body">
  <h1>投稿画像を変更</h1>
  <%= notice %><%= alert %>
  <div class="form-group">
    <%= render 'form', feed: @feed %>
  </div>
</div>
<footer>
  <%= link_to '詳細を確認', @feed, class: 'btn btn-primary' %>
  <%= link_to '一覧へ戻る', feeds_path, class: 'btn btn-primary' %>
</footer>
