<div class="feeds_body">
  <h1>投稿画像一覧</h1>
  <!-- <%= notice %><%= alert %> -->
  <table>
    <thead>
      <tr>
        <th>画像</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <div class="container">
        <% @feeds.each do |feed| %>
          <tr>
            <td><%= image_tag feed.image.url %></td>
            <td>投稿ユーザー:<%= feed.user.name %></td>
            <td>コメント:<%= feed.content %></td>
            <td>
              <%= link_to '詳細を確認', feed, class: 'btn btn-primary' %>
            </td>
            <% if current_user.id == feed.user.id %>
              <td>
                <%= link_to '画像を変更', edit_feed_path(feed), class: 'btn btn-primary' %>
              </td>
              <td>
                <%= link_to '画像を削除', feed, method: :delete, data: { confirm: '投稿を削除しますか？' }, class: 'btn btn-primary' %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </div>
    </tbody>
  </table>
</div>

<br>

<footer>
  <% if logged_in? %>
    <%= link_to '新規投稿', new_feed_path, class: 'btn btn-success' %>
  <% end %>
</footer>
