<p id="notice"><%= notice %></p>

<h1>投稿画像一覧</h1>
<h2>ログイン中のユーザー:<%= current_user.name %></h2>

<table>
  <thead>
    <tr>
      <th>画像</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feeds.each do |feed| %>
      <tr>
        <td><%= feed.image %></td>
        <td>投稿ユーザー:<%= feed.user.name %></td>
        <td><%= link_to '詳細を確認', feed %></td>
        <td><%= link_to '画像を変更', edit_feed_path(feed) %></td>
        <td><%= link_to '画像を削除', feed, method: :delete, data: { confirm: '投稿を削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規投稿', new_feed_path %>
