<div class="feeds_body">
  <%= notice %><%= alert %>
  <p>コメント：<%= @feed.content %></p>
  <p>
    画像:
    <%= image_tag @feed.image.url %>
  </p>
</div>

<footer>
  <% if current_user.id == @feed.user.id %>
    <button type="button" name="button">
      <%= link_to '編集', edit_feed_path(@feed) %>
    </button>
  <% end %>

  <button type="button" name="button">
    <%= link_to '戻る', feeds_path %>
  </button>
</footer>
