<div class="users_body">
  <%= notice %><%= alert %>
  <h1><%= @user.name %>のページ</h1>
  <p>メールアドレス: <%= @user.email %></p>
  <p>
    プロフィール画像:
    <%= image_tag @user.image.url %>
  </p>
  <br>
  <h4>お気に入りにした投稿</h4>
  <br>
  <% @user.favorite_feeds.each do |feed| %>
    <%= feed.content %>
  <% end %>
</div>

<footer>
  <button type="button" name="button">
    <%= link_to '投稿画面へ', feeds_path %>
  </button>
  <% if current_user.id == @user.id %>
    <button type="button" name="button">
      <%= link_to 'プロフィールを編集', edit_user_path %>
    </button>
    <button type="button" name="button">
      <%= link_to 'お気に入り一覧', favorite_index_users_path %>
    </button>
  <% end %>
</footer>
