<div class="users_body">
  <%= notice %><%= alert %>
  <h1><%= @user.name %>のページ</h1>
  <p>メールアドレス: <%= @user.email %></p>
  <p>
    プロフィール画像:
    <%= image_tag @user.image.url %>
  </p>
</div>

<footer>
  <button type="button" name="button">
    <%= link_to 'プロフィールを編集', edit_user_path %>
  </button>
  <button type="button" name="button">
    <%= link_to '投稿する', feeds_path %>
  </button>
</footer>
