<div class="users_body">
  <h1><%= @user.name %>のページ</h1>
  <p>メールアドレス: <%= @user.email %></p>
  <p>
    プロフィール画像:
    <%= image_tag @user.image.url %>
  </p>
  <br>
  <h3>お気に入りにした投稿</h3>
  <% @user.favorite_feeds.each do |feed| %>
    <%= feed.content %>
    <br>
  <% end %>

  <h3>フォローしているユーザー</h3>
  <% @user.following.each do |user| %>
    <%= user.name %>
    <br>
  <% end %>

  <h3>フォロワー一覧</h3>
  <% @user.followers.each do |user| %>
    <%= user.name %>
    <br>
  <% end %>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container-fluid">
    <%= link_to '投稿画面へ', feeds_path, class: 'btn btn-primary' %>
    <% if current_user.id == @user.id %>
      <%= link_to 'プロフィールを編集', edit_user_path, class: 'btn btn-primary' %>
      <%= link_to 'お気に入り一覧', favorite_index_users_path, class: 'btn btn-primary' %>
    <% end %>
  </div>
</nav>
