<!DOCTYPE html>
<html>
  <head>
    <title>InstagramClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">インスタクローン</a>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </div>
      <div class="collapse navbar-collapse" id="navigation">
        <% if logged_in? %>
          <p class="navbar-text navbar-right">ログイン中のユーザー:<%= current_user.name %></p>
          <p class="navbar-text navbar-right"><%= link_to "ログアウトする", session_path(current_user.id), method: :delete %></p>
          <p class="navbar-text navbar-right"><%= link_to "プロフィール", user_path(current_user.id) %></p>
          <p class="navbar-text navbar-right"><%= link_to "新規投稿", new_feed_path, color: 'green' %></p>
        <% else %>
          <p class="navbar-text navbar-right"><%= link_to "ログインする", new_session_path %></p>
          <p class="navbar-text navbar-right"><%= link_to "新しいユーザーを作成", new_user_path %></p>
        <% end %>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <body>
      <% flash.each do |key,value| %>
        <%= content_tag(:div,value,class:"#{key}") %>
      <% end %>
      <%= yield %>
    </body>
  </div>
</html>
